server {
  listen 80;
  server_name ${SVELTE_FRONTEND_HOST};

  location / {
    proxy_pass http://svelte-frontend:${SVELTE_FRONTEND_PORT};
  }
}

server {
  listen 80;
  server_name ${RUST_API_HOST};

  location / {
    proxy_pass http://rust-api:${RUST_API_PORT};
  }
}